@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Noto+Sans+KR:wght@400;500;700&display=swap");
.header {
  font: italic 600 2rem 'Kufam';
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  height: 6rem;
  background-color: #007ec7;
  -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 74, 200, 0.75);
          box-shadow: 0 0.25rem 1rem rgba(0, 74, 200, 0.75);
  z-index: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__info, .header__clock {
  margin-top: 0.4rem;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__title {
  margin-left: 1rem;
}

.header__menu-toggle {
  display: none;
}

.header__menu-label {
  cursor: pointer;
  height: 8rem;
}

.header__menu-icon {
  position: relative;
  display: block;
  width: 2rem;
  height: 0.3rem;
  background-color: white;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.header__menu-icon::before, .header__menu-icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.header__menu-icon::before {
  top: -0.7rem;
}

.header__menu-icon::after {
  top: 0.7rem;
}

.header__menu-toggle:checked ~ .header__menu-label > .header__menu-icon {
  background: transparent;
}

.header__menu-toggle:checked ~ .header__menu-label > .header__menu-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.header__menu-toggle:checked ~ .header__menu-label > .header__menu-icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
  .header {
    height: 8rem;
    font-size: 3rem;
  }
  .header .header__menu-icon {
    width: 4rem;
    height: 0.5rem;
  }
  .header .header__menu-icon::before {
    top: -1.2rem;
  }
  .header .header__menu-icon::after {
    top: 1.2rem;
  }
}

/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
  .header {
    height: 10rem;
    font-size: 4rem;
  }
  .header .header__menu-icon {
    width: 6rem;
    height: 0.8rem;
  }
  .header .header__menu-icon::before {
    top: -1.7rem;
  }
  .header .header__menu-icon::after {
    top: 1.7rem;
  }
}

/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
  .header {
    height: 9rem;
    font-size: 3.5rem;
  }
  .header .header__menu {
    display: none;
  }
}

/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
  .header {
    height: 12rem;
  }
  .header .header__info {
    font-size: 5rem;
  }
}

.main {
  display: block;
  background-color: #e8e8e8;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.main .list-wrap {
  cursor: pointer;
}

.main .item-wrap {
  padding: 1rem 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
  .main .item-wrap {
    font-size: 2rem;
    padding: 1.5rem 6rem;
  }
}

/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
  .main .item-wrap {
    font-size: 2.8rem;
    padding: 2rem 8rem;
  }
}

/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .item-wrap {
    font-size: 2.2rem;
    padding: 1.5rem 4rem;
  }
}

/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
  .main .item-wrap {
    font-size: 2.8rem;
    padding: 2rem 5rem;
  }
}

.side-bar {
  position: absolute;
  width: 100%;
  top: 6rem;
  bottom: 0;
  right: -100%;
  background-color: #e8e8e8;
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 0.8s, right 0.4s;
  transition: opacity 0.8s, right 0.4s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-bar.clicked {
  opacity: 1;
  right: 0;
}

.side-bar .profile,
.side-bar .new-list-button,
.side-bar .new-list-input {
  font: 600 1.8rem 'Kufam', 'Noto Sans KR';
}

.side-bar .profile {
  width: 100%;
  padding: 0.5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.side-bar .profile__image {
  margin-right: 1rem;
}

.side-bar .nav,
.side-bar .new-list-wrap {
  width: 100%;
}

.side-bar .nav {
  font-size: 1.6rem;
  overflow: auto;
  height: 100%;
}

.side-bar .nav__default-list, .side-bar .nav__custom-list {
  border-top: 0.2rem solid #004a75;
}

.side-bar .new-list-wrap {
  position: relative;
  bottom: 0;
  left: 0;
  border-top: 0.1rem solid #004a75;
  color: #004a75;
  cursor: pointer;
}

.side-bar .new-list-wrap .new-list-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.side-bar .new-list-wrap .new-list-input {
  text-align: center;
  height: 100%;
  color: #004a75;
  outline: 0.1rem solid white;
  -webkit-animation: appearInputBox 0.3s forwards;
          animation: appearInputBox 0.3s forwards;
}

/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
  .side-bar {
    top: 8rem;
  }
  .side-bar .profile,
  .side-bar .new-list-button,
  .side-bar .new-list-input {
    font-size: 2.4rem;
  }
  .side-bar .profile {
    padding: 1rem 0;
  }
}

/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
  .side-bar {
    width: 88.8%;
    top: 10rem;
    border-left: 0.2rem solid #004a75;
  }
  .side-bar .profile,
  .side-bar .new-list-button,
  .side-bar .new-list-input {
    font-size: 3rem;
  }
  .side-bar .profile {
    padding: 1.5rem 0;
  }
}

/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
  .side-bar {
    position: unset;
    border: none;
    width: 33.3%;
    left: 0;
    opacity: 1;
  }
  .side-bar .profile,
  .side-bar .new-list-button,
  .side-bar .new-list-input {
    font-size: 2.4rem;
  }
  .side-bar .profile {
    padding: 1rem 0;
  }
}

/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
  .side-bar .profile,
  .side-bar .new-list-button,
  .side-bar .new-list-input {
    font-size: 3rem;
  }
  .side-bar .profile {
    padding: 1.5rem 0;
  }
}

.content {
  height: 100%;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .item-wrap {
  padding: 1rem 1rem;
}

.content-box {
  background-color: #f5f5f5;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1.6rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05), -0.25rem 0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05), 0.25rem -0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05), -0.25rem -0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0.25rem 0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05), -0.25rem 0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05), 0.25rem -0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05), -0.25rem -0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05);
}

.content__info-title,
.content .new-item-button,
.content .new-item-input {
  font-weight: 600;
  font-size: 1.8rem;
  color: #004a75;
}

.content__info-date, .content__info-button {
  font-size: 1.4rem;
}

.content__info {
  height: 10rem;
  margin-bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content__info-title {
  margin-bottom: 1rem;
}

.content__info-date {
  font-style: italic;
  opacity: 0.6;
}

.content__info-button-wrap {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.content__info-button {
  background-color: #007ec7;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.content__info-button.delete.hide {
  display: none;
}

.content-wrap {
  height: 100%;
  overflow: auto;
}

.content .new-item-wrap {
  position: relative;
  border-bottom: 0.1rem solid #004a75;
  cursor: pointer;
}

.content .new-item-wrap.hide {
  display: none;
}

.content .new-item-form {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.content .new-item-input {
  text-align: center;
  height: 100%;
  padding: 1rem 0;
  color: #004a75;
  outline: 0.1rem solid white;
  -webkit-animation: appearInputBox 0.3s forwards;
          animation: appearInputBox 0.3s forwards;
}

.content-list {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-list .item-wrap {
  border-bottom: 1px solid lightgray;
}

.content-list .todo.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.content .button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .button--important {
  margin-right: 0.5rem;
}

.content .button--important.clicked {
  color: transparent;
  text-shadow: 0 0 0 #004a75;
}

/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
  .content-box {
    padding: 2rem;
  }
  .content__info-title,
  .content .new-item-button,
  .content .new-item-input {
    font-size: 2.4rem;
  }
  .content__info-date, .content__info-button {
    font-size: 1.8rem;
  }
  .content .content__info {
    height: 30%;
  }
  .content .content__info-button {
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
  }
  .content .content__info .reset {
    margin-left: 0.5rem;
  }
  .content .item-wrap {
    padding: 1.5rem 2rem;
  }
}

/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
  .content-box {
    padding: 3rem;
  }
  .content__info-title,
  .content .new-item-button,
  .content .new-item-input {
    font-size: 3rem;
  }
  .content__info-date, .content__info-button {
    font-size: 2.2rem;
  }
  .content .content__info-button {
    padding: 1.5rem 2rem;
    border-radius: 2rem;
  }
  .content .content__info-button.reset {
    margin-left: 1rem;
  }
  .content .item-wrap {
    padding: 1.5rem 2rem;
  }
}

/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
  .content {
    width: 66.6%;
  }
  .content-box {
    padding: 2rem;
  }
  .content__info-title,
  .content .new-item-button,
  .content .new-item-input {
    font-size: 2.4rem;
  }
  .content__info-date, .content__info-button {
    font-size: 1.8rem;
  }
  .content .content__info {
    height: 30%;
  }
  .content .content__info-button {
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
  }
  .content .item-wrap {
    padding: 1.5rem 2rem;
  }
}

/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
  .content-box {
    padding: 4rem;
  }
  .content__info-title,
  .content .new-item-button,
  .content .new-item-input {
    font-size: 3.6rem;
  }
  .content__info-date, .content__info-button {
    font-size: 2.6rem;
  }
  .content .content__info-button {
    padding: 1.5rem 2rem;
    border-radius: 2rem;
  }
  .content .content__info .reset {
    margin-left: 1.5rem;
  }
  .content .item-wrap {
    padding: 2rem 4rem;
  }
}

@-webkit-keyframes appearInputBox {
  from {
    width: 0;
    background-color: white;
  }
  to {
    width: 100%;
    background-color: lightgray;
  }
}

@keyframes appearInputBox {
  from {
    width: 0;
    background-color: white;
  }
  to {
    width: 100%;
    background-color: lightgray;
  }
}

@-webkit-keyframes disAppearInputBox {
  from {
    width: 100%;
    background-color: lightgray;
  }
  to {
    width: 0;
    background-color: white;
  }
}

@keyframes disAppearInputBox {
  from {
    width: 100%;
    background-color: lightgray;
  }
  to {
    width: 0;
    background-color: white;
  }
}

.modal {
  border: 0.2rem solid gray;
  border-radius: 10px;
  background-color: lightgray;
  position: absolute;
  top: 30%;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 80%;
  height: 30%;
  z-index: 5;
  text-align: center;
  font-size: 1.8rem;
  padding: 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Small Devices, Tablets : 768px ~ */
  /* Medium Devices, Desktops : 992px ~ */
}

.modal-content {
  line-height: 1.6;
  font-weight: bold;
}

.modal-button-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal .modal-button {
  border: 0.1rem solid gray;
  border-radius: 1rem;
  padding: 1rem;
  width: 10rem;
  background-color: #fff;
}

.modal .modal-button:hover {
  font-weight: bold;
  color: white;
  border: 0.1rem solid white;
}

.modal .yes {
  margin-right: 1rem;
  color: lightseagreen;
}

.modal .yes:hover {
  background-color: lightseagreen;
}

.modal .no {
  color: salmon;
}

.modal .no:hover {
  background-color: salmon;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  min-width: 320px;
  word-wrap: break-word;
  word-break: keep-all;
  font-family: 'Kufam', cursive;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*==========  Mobile First Method  ==========*/
/* All Device */
/* Custom, iPhone Retina : 320px ~ */
/* Extra Small Devices, Phones : 480px ~ */
/* Small Devices, Tablets : 768px ~ */
/* Medium Devices, Desktops : 992px ~ */
/* Large Devices, Wide Screens : 1200px ~ */
/*# sourceMappingURL=style.css.map */