@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  min-width: 320px;
  word-wrap: break-word;
  word-break: keep-all;
  font-family: 'Kufam', cursive;
  font-family: 'Noto Sans KR', sans-serif;
}

/*==========  Mobile First Method  ==========*/
/* All Device */
body {
  display: flex;
  flex-direction: column;
  position: relative;
  /* Small Devices, Tablets : 768px ~ */
  @media only screen and (min-width: 768px) {
  }

  /* Medium Devices, Desktops : 992px ~ */
  @media only screen and (min-width: 992px) {
  }
}

.header {
  font-size: 2rem;
  width: 100%;
  padding: 1rem 2rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Kufam';
  font-style: italic;
  font-weight: 600;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 74, 200, 0.75);
  background-color: #007ec7;
  color: white;
  z-index: 2;

  &__info,
  &__clock {
    margin-top: 0.4rem;
  }

  &__info {
    display: flex;
  }

  &__title {
    margin-left: 1rem;
  }

  &__menu-toggle {
    display: none;
  }

  &__menu-icon {
    cursor: pointer;
    height: 8rem;
    // padding: 40px 20px;
    // position: absolute;
    // top: 0;
    // right: 0;
  }

  &__hamburger {
    position: relative;
    display: block;
    width: 2rem;
    height: 0.3rem;
    background-color: white;
    transition: background-color 0.2s ease-out;
  }

  &__hamburger::before,
  &__hamburger::after {
    background-color: white;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
  }

  &__hamburger::before {
    top: -0.7rem;
  }
  &__hamburger::after {
    top: 0.7rem;
  }

  &__menu-toggle:checked ~ &__menu-icon > &__hamburger {
    background: transparent;
  }
  &__menu-toggle:checked ~ &__menu-icon > &__hamburger::before {
    transform: rotate(45deg);
    top: 0;
  }
  &__menu-toggle:checked ~ &__menu-icon > &__hamburger::after {
    transform: rotate(-45deg);
    top: 0;
  }

  /* Small Devices, Tablets : 768px ~ */
  @media only screen and (min-width: 768px) {
  }

  /* Medium Devices, Desktops : 992px ~ */
  @media only screen and (min-width: 992px) {
    &__menu {
      display: none;
    }
  }
}

.main {
  background-color: #e8e8e8;
  display: block;
  flex-grow: 1;
  overflow: hidden;
  /* Small Devices, Tablets : 768px ~ */
  @media only screen and (min-width: 768px) {
  }

  /* Medium Devices, Desktops : 992px ~ */
  @media only screen and (min-width: 992px) {
    display: flex;
  }
}

.side-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  position: absolute;
  width: 100%;
  top: 6rem;
  bottom: 0;
  right: -100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.8s, right 0.4s;

  &.clicked {
    opacity: 1;
    right: 0;
  }

  & .profile {
    height: 4rem;
    font-size: 1.8rem;
    font-family: 'kufam';
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #004a75;

    &-image {
      margin-right: 10px;
    }
  }
  & .new-list-wrap {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #004a75;
    background-color: white;
    font-weight: 600;

    & .new-list-button {
      position: relative;
      cursor: pointer;
      color: #004a75;

      &:nth-child() {
        pointer-events: none;
      }
    }

    & .new-list-form {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 1.8rem;

      & .new-list-input {
        width: 0;
        animation: appearInputBox 0.4s forwards;
        outline: 1px solid white;
        text-align: center;
        color: #e8e8e8;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 0.9rem 0;
      }
    }
  }

  & .nav,
  & .new-list-wrap {
    font-size: 1.8rem;
  }

  & .nav {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    font-size: 1.6rem;

    &__default-list {
      border-bottom: 2px solid #004a75;
    }
  }

  & .list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    cursor: pointer;
  }

  & .item-wrap {
    width: inherit;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
  }

  /* Small Devices, Tablets : 768px ~ */
  @media only screen and (min-width: 768px) {
    width: 88.8%;
  }

  /* Medium Devices, Desktops : 992px ~ */
  @media only screen and (min-width: 992px) {
    position: unset;
    width: 33.3%;
    left: 0;
    opacity: 1;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;

  & .content-box {
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0.25rem 0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05),
      -0.25rem 0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05),
      0.25rem -0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05),
      -0.25rem -0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.05);
  }

  & .content-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

    & .new-item-wrap {
      position: relative;
      background-color: white;

      & .new-item-button {
        cursor: pointer;
        color: blue;
        border-bottom: 1px solid gray;
        padding: 3% 6%;

        &:nth-child() {
          pointer-events: none;
        }
      }

      & .new-item-form {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;

        & .new-item-input {
          width: 0;
          animation: appearInputBox 0.4s forwards;
          text-align: center;
          padding: 3% 0;
        }
      }
    }

    & .new-item-wrap.hide {
      display: none;
    }
  }

  & .content-info {
    display: flex;
    justify-content: space-between;
    height: 20%;
    margin-bottom: 0;

    &-wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &-title {
      font-weight: 500;
    }

    &-date {
    }

    & .content-info-button-wrap {
      align-self: flex-end;

      & .delete.hide {
        display: none;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & .content-item-wrap {
      padding: 3% 6%;
      width: 100%;
      border-bottom: 1px solid gray;
      display: flex;
      justify-content: space-between;

      & .content-item.todo {
        width: 100%;
        text-align: left;
      }

      & .content-item.done {
        text-decoration: line-through;
        opacity: 0.6;
      }

      & .content-item.button-wrap {
        display: flex;

        & .important-item {
          margin-right: 5px;
        }

        & .important-item.clicked {
          color: transparent;
          text-shadow: 0 0 0 rgb(44, 44, 190);
        }
      }
    }
  }

  /* Small Devices, Tablets : 768px ~ */
  @media only screen and (min-width: 768px) {
  }

  /* Medium Devices, Desktops : 992px ~ */
  @media only screen and (min-width: 992px) {
    width: 66.6%;
  }
}

.modal {
  border: 2px solid gray;
  border-radius: 10px;
  background-color: lightgray;
  position: absolute;
  top: 35%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  z-index: 10;
  text-align: center;
  font-size: 1.2rem;

  &-content {
    margin-bottom: 5%;
    line-height: 1.6;
    font-weight: bold;
  }

  &-button-wrap {
    display: flex;
    justify-content: space-between;

    & .modal-button {
      border: 1px solid gray;
      margin: 0;
      padding: 5% 5%;
      width: 100px;
      border-radius: 10px;
      background-color: #fff;

      &.yes {
        margin-right: 10px;
        color: lightseagreen;

        &:hover {
          background-color: lightseagreen;
        }
      }

      &.no {
        color: salmon;

        &:hover {
          background-color: salmon;
        }
      }

      &:hover {
        font-weight: bold;
        color: white;
        border: 1px solid white;
      }
    }
  }

  /* Small Devices, Tablets : 768px ~ */
  @media only screen and (min-width: 768px) {
  }

  /* Medium Devices, Desktops : 992px ~ */
  @media only screen and (min-width: 992px) {
  }
}

@keyframes appearInputBox {
  from {
    width: 0;
    background-color: white;
  }
  to {
    width: 100%;
    background-color: #a3a3a3;
  }
}

@keyframes disAppearInputBox {
  from {
    width: 100%;
    background-color: #a3a3a3;
  }
  to {
    width: 0;
    background-color: white;
  }
}
